:root {
  --primary-green: #c7f742;
  --text-dark: #505258;
  --button-text-dark: #2b2b2b;
  --text-gray: #a2acb7;
  --border-light: #f0f0f0;
  --background-gray: #eaebec;
  --hover-gray: #a2acb7;
  --background-color: #f3f3f3;
  --text-dark-30: #50525830;
  --color-black-30: #0000004d;
  --dropdown-border: #e2e3e8;
  --dropdown-background: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: var(--background-color);
  color: var(--text-dark);
  font-size: 18px;
}

svg {
  vertical-align: middle;
  margin-top: -2px;
}

a {
  color: inherit;
  text-decoration: underline;

    &:visited {
      color: var(--text-dark);
    }
}

button {
  font-family: 'Exo 2', sans-serif;
}